<h1>All photos</h1>

<% @photos.each do |photo| %>
	<div class="page_wrapper">
		<h2 class="title">
			<%= link_to photo.title, photo %>
		</h2>
		<div class="image">
			<%= link_to (image_tag photo.image.url(:medium)), photo %>
		</div>

		<p>Submitted by <%= photo.user.name %></p>
	</div>

	<div id="comments">
		<h2><%= pluralize(photo.comments.count, "Comment") %></h2>
	</div>
<% end %>

<%= will_paginate @photos, renderer: BootstrapPagination::Rails, previous_label: "Older", next_label: "Newer" %>