
<h1 class="title">
	<%= @photo.title %>
</h1>

<div class="image">
	<%= image_tag @photo.image.url(:large) %>
</div>

<p class="date">
	Add <%= time_ago_in_words (@photo.created_at) %> ago
</p>

<%= link_to "Back", root_path %>

<% if @photo.user == current_user %>
	<%= link_to "Edit", edit_photo_path %>
	<%= link_to "Delete", photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>