<h1 class="title">
	<%= @photo.title %>
</h1>

<div class="image">
	<%= image_tag @photo.image.url(:large) %>
</div>

<p class="date">
	Add <%= time_ago_in_words (@photo.created_at) %> ago by <%= @photo.user.name %>
</p>

<p><%= @photo.get_upvotes.size %> likes </p>
<p><%= @photo.get_downvotes.size %> dislikes </p>
<%= link_to "Like", like_photo_path(@photo), method: :get %>
<%= link_to "Dislike", dislike_photo_path(@photo), method: :get %>

<div id="comments">
	<h2><%= pluralize(@photo.comments.count, "Comment") %></h2>
	<%= render @photo.comments %>
		
	<h3>Add a comment</h3>
	<%= render 'comments/form' %>
</div>


<%= link_to "Back", root_path %>

<% if @photo.user == current_user %>
	<%= link_to "Edit", edit_photo_path(@photo) %>
	<%= link_to "Delete", photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>