
<h1 class="title">
	<%= @photo.title %>
</h1>

<div class="image">
	<%= image_tag @photo.image.url(:large) %>
</div>

<p class="date">
	Wstawione <%= time_ago_in_words (@photo.created_at) %> temu
</p>

<%= link_to "Back", root_path %>
<%= link_to "Edit", edit_photo_path %>
<%= link_to "Delete", photo_path(@photo), method: :delete, data: { confirm: 'Are you sure?' } %>